@use "sass:math";

@mixin grid($cols, $margin, $height) {
    height: $height;
    width: math.div(100% - (($cols - 1) * $margin), $cols);
    float: left;
    margin-right: $margin;
    margin-bottom: $margin;

    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}